<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container text-center">
        <header>
            <div class="logo display-1">Brunoyam News</div>
        </header>
        <main>
            <div class="main-news">
                <div class="card">
                    <div class="main-news__title">Название главной новости</div>
                    <div class="main-news__description">Вступление главной новости</div>
                </div>
            </div>
            <div class="news-list">
                <div class="row">
                    <div class="col-4">
                        <div class="card">
                            <div class="news-list__item__title">Название новости</div>
                            <div class="news-list__item__description">Вступление новости</div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card">
                            <div class="news-list__item__title">Название новости</div>
                            <div class="news-list__item__description">Вступление новости</div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card">
                            <div class="news-list__item__title">Название новости</div>
                            <div class="news-list__item__description">Вступление новости</div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>